<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="../styles/style.min.css">
  </head>
  <body>
    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="../app.html" class="top-bar-link">
            <span>Trang chủ</span>
          </a>
          <a href="products.html" class="top-bar-link">
            <span>Tất cả sản phẩm</span>
          </a>
        </nav>
        <a href="#" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Giỏ hàng (0)</span>
        </a>
      </header>

      <main class="wrapper">
        <h1>Tất cả sản phẩm</h1>
          <p>Coming soon</p>
      </main>

      

    </div>

  </body>
</html>
